<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Buscaventas - Busca artículos del mismo vendedor</title>
  
  <meta name="description"
    content="Encuentra un vendedor de MercadoLibre que tenga todos los artículos que buscás con Buscaventas.">
  <meta name="keywords"
    content="Buscar, Un, Mismo, Vendedor, Artículos, Artículo, Productos, Producto, MercadoLibre, MercadoPago, Mercado, Libre, Pago, Encontrar">
  <meta name="author" content="Giuliano Rosso">

  <meta name="theme-color" content="#FFFFFF">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="google-site-verification" content="0W-tCXQdsuDlu1dOhw6byhABQiUglpvScAPF3NVmEek" />

  <link rel="stylesheet" href="css/buscaventas.css" />
</head>

<body class="d-flex flex-column" style="min-height:100vh">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a href="/" class="navbar-brand py-0">
        <img src="img/logo.svg" width="53rem" height="40rem" alt="Logo del sitio">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite"
        aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSite">
        <ul class="navbar-nav mr-auto">
          <a class="nav-link" href="#">Inicio</a>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Proyectos frontend</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Buscaventas<span class="sr-only">(current)</span></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="mb-4" style="flex: 1 1 auto">
    <p id="title" class="display-1 d-flex mt-5" style="justify-content: center">Buscaventas</p>
    <div id="app" class="container">

      <div id="search-combobox" class="form-row d-flex mb-4 input-group rounded-pill">
        <input type="search" class="form-control" aria-label="Ingrese aquí el artículo que quiere buscar..."
          v-model="ui_searchQuery" v-on:keyup.enter="ui_search(ui_searchQuery)"
          placeholder="Ingrese aquí el artículo que quiere buscar...">

        <div class="input-group-append">
          <button type="button" class="btn btn-primary" v-on:click="ui_search(ui_searchQuery)">Buscar</button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Mostrar filtros</span>
          </button>
          <div id="search-dropdown" class="dropdown-menu">
            <div class="form-inline mx-2">
              <span class="mr-2">Máx. resultados:</span>
              <input class="form-control" type="number" min="50" max="1000" step="50" v-model="max_results" />
            </div>
          </div>
        </div>
      </div>

      <ul id="queries" class="row p-2">
        <query v-for="query in queries" v-bind:key="query.id" v-bind:id="query.id" v-bind:title="query.title" />
      </ul>

      <div v-if="queries.length > 1">
        <hr>
        <div class="container">
          <div class="row py-3 border-bottom align-items-center">
            <div class="col">
              <span class="my-4" v-if="matching_sellers.length == 1">{{ matching_sellers.length }} vendedor.</span>
              <span class="my-4" v-else>{{ matching_sellers.length }} vendedores.</span>
            </div>
            <div class="col" v-for="query in queries">{{ query.title }}</div>
            <div class="col">TOTAL</div>
          </div>
          <div class="row py-2 align-items-center" v-for="seller in matching_sellers">
            <div class="col">
              <span>PANCHO_ML</span>
              <span class="text-muted">{{ seller.id }}</span>
            </div>
            <div class="col" v-for="query in queries">
              <a v-bind:href="seller.find_result(query).link">${{ seller.find_result(query).price }}</a>
            </div>
            <div class="col">${{ seller.find_totalPrice(queries) }}</div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="filterQuery-modal" tabindex="-1"
        aria-labelledby="filterQuery-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="filterQuery-modal-label">{{ ui_filteringQuery.title }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul>
                <result v-for="result in sort_results_byPrice(ui_filteringQuery)" v-bind:key="result.id"
                  v-bind:id="result.id" v-bind:title="result.title" v-bind:seller_id="result.seller_id"
                  v-bind:thumbnail="result.thumbnail" v-bind:price="result.price" />
              </ul>
            </div>
            <div class="modal-footer">
              <p class="text-muted float-left" v-if="ui_filteringQuery.results.length == 1">{{
                ui_filteringQuery.results.length }} resultado.</p>
              <p class="text-muted float-left" v-else>{{ ui_filteringQuery.results.length }} resultados.</p>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Listo</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="bg-light text-dark p-4">
    <div class="container">
      <span>Giuliano Rosso</span>
    </div>
  </footer>

  <!-- Vue Templates -->
  <!-- Query item -->
  <script type="text/x-template" id="query-template">
    <li class="col-12 media mb-1">
      <div class="mr-3 d-flex justify-content-center align-items-center" style="width:72px; height: 72px">
        <img v-if="loaded && seller_count > 0" v-bind:src="thumbnail" width="72px">

        <div v-else-if="loaded" class="text-primary" style="font-size: 4rem">
          &times;
        </div>

        <div v-else class="spinner-border text-primary" role="status">
          <span class="sr-only">Cargando resultados...</span>
        </div>
      </div>
      <div class="media-body align-self-center">
        <h5 class="mt-0 mr-3">{{ title }}</h5>

        <div v-if="!loaded" class="loading-text" style="width: 10rem; height: 0.75rem;"></div>
        <p v-else-if="seller_count == 0" class="text-muted">No se encontraron resultados.</p>
        <p v-else-if="seller_count == 1" class="text-muted">{{ seller_count }} vendedor.</p>
        <p v-else class="text-muted">{{ seller_count }} vendedores.</p>
      </div>
      <span v-if="seller_count > 0" class="align-self-center mr-3">Empieza por ${{ min_price }}</span>
      <a v-if="seller_count > 0" class="align-self-center btn btn-primary text-light mr-1" v-on:click="filter_query()" data-toggle="modal" data-target="#filterQuery-modal">
        Filtrar
      </a>
      <a class="align-self-center btn btn-danger text-light" v-on:click="remove_query()">
        <b aria-hidden="true">x</b>
      </a>
    </li>
  </script>

  <!-- Result item -->
  <script type="text/x-template" id="result-template">
    <li class="media mb-3 table-striped">
      <img class="mr-3" style="object-fit:contain; width:72px; height:72px" v-bind:src="thumbnail">
      <div class="media-body align-self-center">
        <h5 class="mt-0 mr-3">{{ title }}</h5>
        <p class="text-muted">Vendedor: {{ seller_id }}</p>
      </div>
      <span class="align-self-center mr-3">${{ price }}</span>
      <a class="align-self-center btn btn-danger text-light" v-on:click="remove_result()">
        <b aria-hidden="true">x</b>
      </a>
    </li>
  </script>

  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>

  <script src="js/search.js"></script>
  <script src="js/ui.js"></script>
</body>

</html>