.logo-square {
  width: 2rem;
  height: 2rem;
  background-image: url('./logo.svg');
  background-position: center;
  background-size: contain;
}

[data-bs-theme=dark] .logo-square {
  background-image: url('./logo_dark.svg');
}