/* Navbar links' font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

nav .logo {
  width: 2rem;
  height: 2rem;
  background-image: url('./logo.svg');
  background-position: center;
  background-size: contain;
}

[data-bs-theme=dark] nav .logo {
  background-image: url('./logo_dark.svg');
}

nav .nav-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
}